html,
body {
  padding: 0;
  margin: 0;
  font-family: "Outfit", Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans,
    Helvetica Neue, sans-serif;
  font-size: 16px;
  height: 100%;
  color: var(--text-color);
}

a {
  color: #000;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

#__next {
  height: 100%;
}

:root {
  --primary-color: #ff7e1d;
  --secondary-color: #F7EDDF;
  --gray-color: rgba(190, 172, 143, 0.2);
  --text-color: #414141;
}

/* @media (max-width: 600px) {
  
} */